PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=documents
DB_SYNCHRONIZE=true

AWS_REGION=eu-central-1
AWS_S3_BUCKET=your-bucket-name
AWS_S3_PRESIGN_EXPIRES_SECONDS=300

AWS_SQS_QUEUE_URL=https://sqs.eu-central-1.amazonaws.com/123456789012/your-queue
AWS_SQS_LISTENER_ENABLED=true
AWS_SQS_POLL_INTERVAL_MS=5000

OPENSEARCH_NODE=https://search-your-domain.eu-central-1.es.amazonaws.com
OPENSEARCH_USERNAME=admin
OPENSEARCH_PASSWORD=admin-password
OPENSEARCH_INDEX=documents
